name: Release
on:
  release:
    types:
      - published
jobs:
  validate-node:
    name: 'Validate'
    uses: curium-rocks/flows/.github/workflows/node-ts.yml@main
    permissions:
      contents: read
      actions: read
      security-events: write
    secrets:
      SONARQUBE_KEY: ${{ secrets.SONARQUBE_KEY }}
  publish-to-npm:
    environment: npm
    runs-on: ubuntu-latest
    needs:
      - validate-node
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
